
<div class="container-fluid">
    <div class="footer">
     <div class="row">
       <div class="col-lg-4">
       <h5>Privacy Legal Notice</h5>
     </div>
     <div class="col-lg-5">
       <i class="fa fa-youtube-play" aria-hidden="true"></i>
       <i class="fa fa-twitter" aria-hidden="true"></i>
       <i class="fa fa-facebook" aria-hidden="true"></i>
       <i class="fa fa-instagram" aria-hidden="true"></i>
     </div>
 
     <div class="col-lg-3">
       <h6>© 2023 INDIA</h6>
     </div>
     </div>
   </div>
 </div>

 
