
.footer h5 {
    color: aliceblue;
    padding-top: 25px;
    padding-left: 30px;
}

.footer i {
    color:aliceblue ;
    padding-top: 35px;
    padding-left: 100px;

}
.footer h6 {
    color: aliceblue;
    padding-top: 35px;
    padding-left: 170px;
}

 .row {
    background-color: #20313b;
     height: 80px; 
}