

.blueimg{
    text-align: center;
    background-color: rgb(221, 237, 237);
    
}

.blueimg img{
    height: 450px;
    margin-top: 50px;
   
}


h4{
    margin-top: 10PX;
    color: #337ab7;
    font-family: Roboto;

}

button{
    margin-bottom: 50px;
    margin-top: 20px;
    background-color: #151139;
    color: white;
    font-weight: 500;
    padding: 20px 40px;
    font-size: 25px;
}

button:hover{
    background-color: #4385be;
   font-weight: bold;
    font-size: 35px;
    font-family: 'Lobster Two', cursive;
    font-family: 'Pacifico', cursive;
    // color: white;

}


.side-effect img {
    height: 1000px;
}